<h3>Profil kezelése</h3>
<hr>
<div id="messageBox"></div>

<div class="row">
    <h5>Alapadatok</h5>
    <div class="col-12 col-lg-6">
        

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nameField" placeholder="">
            <label for="nameField">Név</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailField" placeholder="">
            <label for="emailField">Email cím</label>
            <button class="btn btn-primary" id="regBtn" style="margin-top: 20px;">Mentés</button>
          </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordField" placeholder="">
            <label for="passwordField">Jelenlegi jelszó</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newPasswordField" placeholder="">
            <label for="newPasswordField">Új jelszó</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confNewPasswordField" placeholder="">
            <label for="confNewPasswordField">Megerősitett uj jelszó</label>
          </div>
          <button class="btn btn-primary" id="regBtn" style="margin-top: 20px;">Módosítás</button>
    </div>
    
</div>