<h3>Regisztráció</h3>
<hr>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="nameField" placeholder="">
    <label for="nameField">Név</label>
  </div>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="emailField" placeholder="">
    <label for="emailField">Email cím</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="passwordField" placeholder="">
    <label for="PasswordField">Jelszó</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmPasswordField" placeholder="">
    <label for="confirmPasswordField">Jelszó megerősítése</label>
  </div>

  <button class="btn btn-primary" id="regBtn" style="margin-top: 20px;" onclick="registration()">Regisztráció</button>